/* Define variables for root element */
:root {
    --main-bg-color: #f4f4f4;   /*the -- declares a variable in css */
    --main-txt-color: #333;
    --container-width:90%;
    --header-bg-color:#333;  /*this is reset in the html script js section
    --header-txt-color:white;


}

body {
    margin:0;
    padding:0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}

.container {
    width: var(--container-width);
    margin:20px auto;   /*auto left and right pushes stuff to the middle*/
}

header#main-header {
    background-color: var(--header-bg-color);
    color: var(--header-txt-color);
}
header#main-header h1{
    padding:0;
    margin:0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    align-items: center;
}

/*define box variables **********************************************************************/
.box{
    --box-bg-color:#ddd;
    --box-main-color:#06c;   /*this is used alot of places.  could change it here once and change it everywhere */
    --box-padding: 5px  10px;
    --box-shadow-h-offset:10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur:5px;
}

.box {
    background-color: var(--box-bg-color);
    padding:var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow: 
    var(--box-shadow-h-offset)
    var(--box-shadow-v-offset)
    var(--box-shadow-blur)
    var(--box-main-color);
}

.box h1 {           /*could just use h1 without .box because using --box variable */
    color: var(--box-main-color);
}

.box p {
    --box-main-color:#555;   /*can update this locally to paragraph in box */
    color:var(--box-main-color);
}